<app-menu></app-menu>

<section class="allUsersView">
	<div class="allStatusBar">
		<div>
			<p>Total de personas:<span class="clrBlue"> 999</span></p>
			<p>Nuevos: <span class="clrBlue">500</span></p>
		</div>
		<div>
			<button>
				<i class="fas fa-download clrBlue"></i>
			</button>
			<button>
				<i class="fas fa-comment clrBlue"></i>
			</button>
			<button>
				<i class="fas fa-cogs clrBlue"></i>
			</button>
		</div>
	</div>
	<div class="allUsersBar">
		<div class="allUsersBarInstructions">
			<div class="allUsersItem">
				<div>
					Flag
				</div>
				<div>
					P <i class="fas fa-sort-down clrBlue"></i>
				</div>
				<div>
					Nombre <i class="fas fa-sort-down clrBlue"></i>
				</div>
				<div>
					Email <i class="fas fa-sort-down clrBlue"></i>
				</div>
				<div>
					Fecha <i class="fas fa-sort-down clrBlue"></i>
				</div>
				<div>
					Estatus <i class="fas fa-sort-down clrBlue"></i>
				</div>
			</div>
		</div>
		<div>
			<div class="allUsersItem">
				<div>
					<input type="checkbox" name="">
				</div>
				<div>
					P
				</div>
				<div>
					Name test
				</div>
				<div>
					Emailtest
				</div>
				<div>
					date test
				</div>
				<div>
					<i class="fas fa-circle active"></i> Active
				</div>
			</div>
			<div class="allUsersItem">
				<div>
					<input type="checkbox" name="">
				</div>
				<div>
					P
				</div>
				<div>
					Name test
				</div>
				<div>
					Emailtest
				</div>
				<div>
					date test
				</div>
				<div>
					<i class="fas fa-circle active"></i> Active
				</div>
			</div>
			<div class="allUsersItem">
				<div>
					<input type="checkbox" name="">
				</div>
				<div>
					P
				</div>
				<div>
					Name test
				</div>
				<div>
					Emailtest
				</div>
				<div>
					date test
				</div>
				<div>
					<i class="fas fa-circle active"></i> Active
				</div>
			</div>
			<div class="allUsersItem">
				<div>
					<input type="checkbox" name="">
				</div>
				<div>
					P
				</div>
				<div>
					Name test
				</div>
				<div>
					Emailtest
				</div>
				<div>
					date test
				</div>
				<div>
					<i class="fas fa-circle active"></i> Active
				</div>
			</div>
			<div class="allUsersItem">
				<div>
					<input type="checkbox" name="">
				</div>
				<div>
					P
				</div>
				<div>
					Name test
				</div>
				<div>
					Emailtest
				</div>
				<div>
					date test
				</div>
				<div>
					<i class="fas fa-circle active"></i> Active
				</div>
			</div>
		</div>
		<div class="allUsersPagination">
			<div>
				<div>
					<i class="fas fa-caret-left clrBlue"></i>
				</div>
				<div class="paginationItems">
					<div>
						1
					</div>
					<div>
						2
					</div>
					<div>
						3
					</div>

				</div>
				<div>
					<i class="fas fa-caret-right clrBlue"></i>
				</div>
			</div>
		</div>
	</div>
</section>