<section class="menuComponent">
	<div>
		<div>
			<h3>NEBULA</h3>
		</div>
	</div>
	<div class="menuDesktop">
		<div class="inline navigationElement">
			<nav>
				<a href="">Dashboard</a>
				<a class="active" href="">Personas</a>
				<a href="">Transacciones</a>
				<a href="">Suscripciones</a>
			</nav>
		</div>
		<div class="inline">
			<button>
				<i class="fas fa-search clrBlue"></i>
			</button>
			<button>
				<i class="fas fa-user-plus clrBlue"></i>
			</button>
			<button>
				<i class="fas fa-user-plus clrBlue"></i>
			</button>
		</div>
	</div>
	<div class="menuMobile">
		<i class="fas fa-bars"></i>
	</div>
</section>