<app-menu></app-menu>
<section class="profilesView">
	<div class="sideBarProfile">
		<aside>
			<div>
				<div class="sideBarProfileDetail">
					<img src="/assets/nebula/profileBarImg.png">
					<p>
						Nora
					</p>
				</div>
				<div>
					<div>
						<div class="infoItemSidebar">
							<p>
								Contacto
							</p>
							<p>
								itwasjustadream@gmail.com
							</p>
							<p>
								5577883377
							</p>
						</div>
						<div class="infoItemSidebar">
							<p>
								Fecha de nacimiento
							</p>
							<p>
								15/12/1992
							</p>
						</div>
						<div class="infoItemSidebar">
							<p>
								Próximo pago
							</p>
							<p>
								15/12/2017
							</p>
						</div>
					</div>
				</div>
				<button>
					Active
				</button>
			</div>
			<div>
				<ul>
					<li>
						<span>
							<i class="fab fa-apple"></i>
						</span>
						<span>
							Overview
						</span>
					</li>
					<li>
						<span>
							<i class="fas fa-info-circle"></i>
						</span>
						<span>
							Información
						</span>
					</li>
					<li>
						<span>
							<i class="fas fa-dollar-sign"></i>
						</span>
						<span>
							Transacciones
						</span>
					</li>
					<li>
						<span>
							<i class="fas fa-exchange-alt"></i>
						</span>
						<span>
							Suscripciones
						</span>
					</li>
					<li>
						<span>
							<i class="fas fa-credit-card"></i>
						</span>
						<span>
							Tarjetas
						</span>
					</li>
					<li>
						<span>
							<i class="fas fa-comment"></i>
						</span>
						<span>
							Interacciones
						</span>
					</li>
				</ul>
			</div>
		</aside>
	</div>
	<div class="breadCrumbds">
		<div class="inline">
			<span>
				<-
			</span>
			<span>
				Regresar
			</span>
		</div>
		<div class="inline">
			<span>Persona</span>
			>
			<span>Nora de la Franccesca</span>
			>
			<span>Información</span>
		</div>
	</div>
	<div class="profilesViewWrapper">
		<div class="profilesViewBasicInfo">
			<div class="inline">
				<img src="/assets/nebula/profileImg.png">
			</div>
			<div class="inline">
				<h3>
					Información personal
				</h3>
				<div>
					<p class="clrGray">Nombre: Nora</p>
					<p class="clrGray">Segundo nombre: De la Franccesca</p>
					<p class="clrGray">Apellido: Vargas Espinosa de los Monteros</p>
					<p class="clrGray">Correo:</p>
					<p class="clrGray">Teĺéfono:</p>
					<p class="clrGray">Genero: </p>
					<p class="clrGray">Fecha de nacimiento:</p>
				</div>
				<div class="changeInfo">
					<i class="fas fa-cogs clrBlue"></i>
				</div>
			</div>
		</div>
		<div>
			<div class="inline profilesViewLocation">
				<h3>Dirección</h3>
				<div class="profilesViewLocationFields">
					<div>
						<span>
							Tipo:
						</span>
						<select class="clrGray">
							<option>Escoge una opción</option>
						</select>
					</div>
					<div>
						<span>
							Calle y número
						</span>
					</div>
					<div>
						<span>
							Codigo postal
						</span>
					</div>
					<div>
						<span>
							Delegación
						</span>
					</div>
					<div>
						<span>
							Múnicipio
						</span>
					</div>
					<div>
						<span>
							Ciudad
						</span>
					</div>
					<div>
						<span>
							Estado
						</span>
					</div>
					<div>
						<span>
							País
						</span>
					</div>
					<div>
						<span>
							Comentario
						</span>
					</div>
				</div>
				<div>
					Agregar dirección
				</div>
					
			</div>
			<div class="profilesViewSavedLocation inline">
				<h3>
					Direcciones guardadas
				</h3>
				<div>
					<div class="locaionItem">
						<div class="inline">
							<p>
								Casa
							</p>
							<p>
								Tonalá 10
							</p>
							<p>
								Código postal
							</p>
							<p>
								Comentario
							</p>
						</div>
						<div class="inline">
							<button>
								<i class="fas fa-trash-alt"></i>	
							</button>
							<button>
								E
							</button>
						</div>
					</div>
					<div class="locaionItem">
						<div class="inline">
							<p>
								Casa
							</p>
							<p>
								Tonalá 10
							</p>
							<p>
								Código postal
							</p>
							<p>
								Comentario
							</p>
						</div>
						<div class="inline">
							<button>
								<i class="fas fa-trash-alt"></i>	
							</button>
							<button>
								E
							</button>
						</div>
					</div>
					<div class="locaionItem">
						<div class="inline">
							<p>
								Casa
							</p>
							<p>
								Tonalá 10
							</p>
							<p>
								Código postal
							</p>
							<p>
								Comentario
							</p>
						</div>
						<div class="inline">
							<button>
								<i class="fas fa-trash-alt"></i>	
							</button>
							<button>
								E
							</button>
						</div>
					</div>
				</div>
			</div>	
		</div>
	</div>
</section>