<section class="loginView">
	<div class="loginBox twiceColumns">
		<div class="leftColumn">
			<div class="loginBoxTitle">
				<span>
					Nosotros 
					<i class="fas fa-heart clrRed"></i>
				</span>
				<span>
					<i class="fas fa-fire clrRed"></i> Unete 
				</span>
			</div>
			<div class="loginBoxInputs">
				<div>
					<input type="text" placeholder="Email">
				</div>
				<div>
					<input type="text" placeholder="Password">
				</div>
				<div class="loginBoxSingIn">
					<div>
						<input type="checkbox" class="inline">
						<span class="inline">Recordarme</span>
					</div>
					<div>
						<button (click)="loginMethod();">
							Log In
						</button>
					</div>
				</div>
			</div>
			<div class="forgetPassword">
				<a href="">Olvidé mi contraseña</a>
			</div>
		</div>
		<div class="rightColumn">
			<div>
				<p>
					Bienvenido a <br> <span>nebula</span>
				</p>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua.
				</p>
			</div>
			<div class="spaceMan">
				<img src="/assets/nebula/spaceman.png">
			</div>
		</div>
	</div>
	<div class="footerLoginView">
		<div class="twiceColumns">
			<div class="leftColumn">
				 with: <i class="fas fa-heart clrRed"></i> by: recaudia
			</div>
			<div class="rightColumn alRight">
				Need support? Contact us: <i class="fas fa-phone-volume"></i> <i class="fas fa-envelope-square"></i>
			</div>
		</div>
	</div>
</section>
